.progress {
    border: 1px solid red;
}

.done {
    border: 1px solid green;
}

.section1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    &>select {
        opacity: 0;
        position: absolute;
        top: 12px;
        border-radius: 15px;
        width: 76px;
        height: 45px;
    }
}

.section2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    &>select {
        opacity: 0;
        position: absolute;
        top: 63px;
        border-radius: 15px;
        width: 76px;
        height: 42px;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

select::-ms-expand {
    display: none;
}

/* .xxx {
    position: absolute;
    top: 24px;
    border-radius: 5px;
    width: 54px;
    height: 33px;
} */

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {
    color: #23b499;
}