.blockCenter {
    display: block;
    margin-right: auto;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.modalWidth {
    width: 85%;
}

.blueBg {
    background-color: #0d3efd;
}